:root {
    /* Colors */

    --primary-color: #00205B;
    --secondary-color: #EEF4FF;
    --tertiary-color: #fff;

    --background: #fff;
    --background-secondary: #F9F9F9;

    --primary-text: #fff;
    --primary-text-heavy: rgb(255, 255, 255, .6);
    --primary-text-medium: rgb(255, 255, 255, .5);
    
    --inverted-text: #000;
    --inverted-text-medium: rgb(0, 0, 0, .5);
    --inverted-text-light: rgb(0, 0, 0, .3);

    --secondary-text: var(--primary-color);

    --primary-accent: #FFD913;
    --secondary-accent: #006C0E;

    --border: #000;
    --border-medium: rgb(0, 0, 0, .5);
    --border-light: rgb(0, 0, 0, .15);

    --inverted-border: #fff;
    --inverted-border-medium: rgb(255, 255, 255, .5);
    --inverted-border-light: rgb(255, 255, 255, .15);

    --divider-light: var(--border-light);

    /* Typography */

    --text-display: 49px;
    --text-xxxl: 39px;
    --text-xxl: 31px;
    --text-xl: 25px;
    --text-l: 20px;
    --text-m: 16px;
    --text-s: 13px;
    
    --spacing-display: -1.09px;
    --spacing-xxxl: -0.86px;
    --spacing-xxl: -0.67px;
    --spacing-xl: -0.5px;
    --spacing-l: -0.33px;
    --spacing-m: -0.18px;
    --spacing-s: -0.04px;

    --weight-bold: 600;
    --weight-medium: 500;
    --weight-regular: 400;

    --gap-large: 80px;
    --gap-medium: 60px;
    --gap-small: 40px;

    /* misc */

    --calc-footer: 0px;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 400 500 600;
    font-display: swap;
}

body, html {
    background: var(--primary-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline-offset: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

u {
    text-underline-offset: 2px;
    text-decoration: 1px underline;
}

main {
    background: var(--primary-color);
    margin: 0;
    gap: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    background: var(--primary-color);
    color: var(--primary-text);
    padding: 12px 20px;
    font-weight: var(--weight-regular);
    border-radius: 100px;
    height: 55px;
    border: none;
    outline: none;
    font-size: 16px;
    touch-action: manipulation;
}

button img {
    user-select: none;
    pointer-events: none;
}

.btn-secondary {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.btn-tertiary {
    background: rgba(237, 250, 253, 0.15);
    color: var(--secondary-color);
}

.btn-inverted {
    background: var(--background);
    color: var(--primary-color);
}

.btn-icon {
    padding: 16px;
}

.btn-round {
    padding: 0;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-small {
    padding: 8px 16px;
    height: unset;
    font-size: var(--text-s);
    letter-spacing: var(--spacing-s);
}

.btn-unset {
    height: unset;
    width: unset;
    padding: unset;
    color: unset;
    background: unset;
    border: unset;
    outline: unset;
}

.fw {
    width: 100%;
}

.xxl {
    font-size: var(--text-xxl);
    letter-spacing: var(--spacing-xxl);
}

.xl {
    font-size: var(--text-xl);
    letter-spacing: var(--spacing-xl);
}

.l {
    font-size: var(--text-l);
    letter-spacing: var(--spacing-l);
}

.m {
    font-size: var(--text-m);
    letter-spacing: var(--spacing-m);
}

.s {
    font-size: var(--text-s);
    letter-spacing: var(--spacing-s);
}


.op-h {
    display: inline;
    opacity: .6;
}
.op-m {
    display: inline;
    opacity: .5;
}
.op-l {
    display: inline;
    opacity: .3;
}

.we-b {
    font-weight: var(--weight-bold);
}

.we-m {
    font-weight: var(--weight-medium);
}

.we-r {
    font-weight: var(--weight-regular);
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px;
    gap: 20px;
    outline: 1px solid var(--border-light);
    background: var(--background);
    color: var(--inverted-text);
}

form button {
    width: 100%;
    height: 50px;
}

form .checkbox input {
    background: var(--background);
    color: rgb(0, 0, 0, .3);
}

form .checkbox input.active {
    outline-width: 2px;
    color: var(--inverted-text);
}


.form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-item label {
    font-size: var(--text-s);
    letter-spacing: var(--spacing-s);
}

.form-item div {
    display: flex;
    gap: 10px;
}

.form-item div input:first-child {
    width: 62px;
}

.form-item input {    
    width: 100%;
    outline: 1px solid var(--border-medium);
    border-radius: 10px;
    padding: 0 16px;
    height: 50px;
}

.form-item input::placeholder, .form-item textarea::placeholder {
    color: var(--inverted-text);
    opacity: .3;
    font-size: var(--text-m);
    letter-spacing: var(--spacing-m);
}

.form-item textarea {    
    width: 100%;
    outline: 1px solid var(--border-medium);
    border-radius: 10px;
    padding: 16px;
    height: 100px;
    resize: none;
}

h3 {
    line-height: 150%;
}


p {
    line-height: 150%;
}

a {
    color: inherit;
}

.divider {
    min-height: 1px;
    min-width: 1px;
    background: var(--border-light);
}

.carousel {
    width: 100%;
    height: 100%;
    
}

.carousel-cell {
    height: 100%;
}

.faq.inverted .container.inverted .item:last-child {
    border-bottom: 0;
}

.rabatt {
    border-radius: 100px;
    width: fit-content;
}